.root {
  width: 100%;

  :global(.slick-prev),
  :global(.slick-next) {
    z-index: 100;

    &::before {
      font-size: 80px;
      color: #d2d6d6;
      font-weight: 600;
    }
  }
  :global(.slick-track) {
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  :global(.slick-next) {
    right: 100px;
  }
  :global(.slick-prev) {
    left: 50px;
  }
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img {
  height: 35vw;
  position: relative;
  cursor: grab;
  text-align: center;
  h2 {
    z-index: 200;
    position: absolute;
    bottom: 50px;
    width: 100%;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 1.8;
    margin: 40px 0;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
  }
  &::after {
    transition: all 0.2s linear;
    content: "";
    background: rgba(0, 0, 0, 0.4);
    inset: 0;
    position: absolute;
    z-index: 0;
    opacity: unset;
  }
  &:hover {
    &::after {
      content: "";
      background: rgba(69, 49, 3, 0.519);
      inset: 0;
      position: absolute;
      z-index: 0;
      opacity: unset;
    }
  }
}
.review {
  max-width: 800px;
  padding: 0 50px;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .img {
    height: 60vw;
    h2 {
      margin: 0;
      bottom: 20px;
      font-size: 1rem;
    }
  }
  .root {
    :global(.slick-prev),
    :global(.slick-next) {
      &::before {
        font-size: 40px;
      }
    }

    :global(.slick-next) {
      right: 8vw;
    }
    :global(.slick-prev) {
      left: 3vw;
    }
  }
}
