#hamburger {
  width: 60px;
  height: 40px;
  margin-top: 6px;

  path {
    stroke: black;
  }
}

.header_at_top {
  #hamburger {
    path {
      stroke: white;
    }
  }
}
.links_mobile {
  right: 0;
  transform: translateX(100%);
  width: 280px;
  transition: all 0.15s linear;
  > a {
    letter-spacing: 2px;
    text-align: left;
    padding: 8px 10px;
  }
}

.nav-opened {
  margin-left: -280px;
  .links_mobile {
    transform: translateX(0%);
  }

  #hamburger {
    transform: translateX(20px);
    #top-line {
      animation: down-rotate 0.6s ease-out both;
    }
    #bottom-line {
      animation: up-rotate 0.6s ease-out both;
    }
    #middle-line {
      animation: hide 0.6s ease-out forwards;
    }
  }
}

@keyframes up-rotate {
  0% {
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-4px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-4px) rotate(45deg) scale(0.9);
  }
}

@keyframes down-rotate {
  0% {
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(3px);
  }
  100% {
    transform-origin: center;
    transform: translateY(3px) rotate(-45deg) scale(0.9);
  }
}

@keyframes hide {
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
