.header {
  position: fixed;
  top: 0;
  // height: 100px;
  z-index: 500;
  background: white;
  color: black;
  width: 100%;
  padding: 0 3vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  .logo {
    width: 160px;
    object-fit: cover;
  }
  .headerRight {
    display: flex;
    align-items: center;
  }
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 10px;
  }
  .launchNote {
    background: #ecfffe;
    color: black;
    padding: 5px 3vw;
    border-radius: 2px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
    animation: leaves 1s ease-in-out infinite alternate;
  }
  .links {
    text-transform: uppercase;
    display: flex;
    gap: 30px;
    padding: 2vw 5vw;
    padding-left: 0;
    > a {
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: #97740c;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}

.headerTop {
  background-color: transparent;
  color: white;
  box-shadow: none;

  :global(.link) {
    &::after {
      background: white;
    }
  }
  g {
    fill: white;
  }
  :global(#hamburger) {
    path {
      stroke: white;
    }
  }
}

.links_mobile {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
  background: #f7eada;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}

.footer {
  background-color: #f7eada;
  padding: 50px 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  :global(.social-icons) {
    display: flex;
    align-items: center;
    // gap: 10px;
    a {
      padding: 10px;
      svg {
        height: 40px;
        width: 40px;
      }
    }
  }
  .address {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

@keyframes leaves {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    padding-top: 10px;
  }
  .launchNote {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 0.75em !important;
    padding: 2px 15px !important;
  }
  .footer {
    :global(.social-icons) {
      a svg {
        height: 30px;
        width: 30px;
      }
    }
  }
}
